################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/data_processing/venv
/data_processing/.idea
/data_02.07.2021-boltanka/processing_data/.idea
/data_02.07.2021-boltanka/processing_data/venv
/data_06.07.2021-boltanka/processing_data/.idea
/data_06.07.2021-boltanka/processing_data/venv
/data_processing/__pycache__
/data_01.07.2021-calibration/data_processing/.idea
